<div class="title-bar">
  <h1>Your Dashboard</h1>
  <nav class="subnav">
    <span class="dash-link">View:</span>
    <a class="dash-link" href="/dashboard#your-posts">Posts</a> |
    <a class="dash-link" href="/dashboard/likes">Likes</a> |
    <a class="dash-link" href="/dashboard/dislikes">Dislikes</a>
  </nav>
</div>