<section>
  {{> dashboard-titlebar}}
  {{#if posts.length}}
  <div id="your-voted-posts" class="dashboard-section">
    <h3 id="your-posts-title">Your {{tab}} Places ({{posts.length}})</h3>
    <ul class="post-list">
      {{#each posts as |post|}}
      {{> post-card post}}
      {{/each}}
    </ul>
  </div>
  {{/if}}
</section>
<script src="/javascript/vote.js"></script>