<section id="splash">
  <h3>Welcome to</h3>
  <h1 id="logo">Cool California</h1>
  <p>
    A place for California adventurers to share information about their favorite out-of-the-way spots in this beautiful
    state. Whether you like to climb, hike, ride, ski, surf, swim... or just chill, you're sure to discover new places
    to explore. Share photos, details, and tips and tricks about your favorite (or not so favorite) places to connect
    with Golden State nature.
  </p>
  <a href="/" class="btn">Explore!</a>
</section>