* {
  box-sizing: border-box;
  color: black;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

.hidden {
  display: none;
}
a:link {
  text-decoration: none;
}

p {
  margin: 0.5rem 0;
  line-height: 1.5;
}

body {
  height: 125vh;
  margin-top: 80px;
  padding: 30px;
  background: -webkit-linear-gradient(#D4AF37, #C0C0C0);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.wrapper {
  margin: 0 auto;
  max-width: 1000px;
}

header {
  background-color: black;
  left: 0;
  right: 0;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
}

.header-content {
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 25px 0 black;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1000px;
}

.header-content h3 {
  background: linear-gradient(#D4AF37, #C0C0C0);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-family: 'Mr Dafoe', cursive;
  font-size: 40px;
}

.filter-controls {
  background: transparent;
  position: relative;
  right: 30px;
  text-align: right;
  top: 6rem;
}

nav {
  display: flex;
  flex-basis: auto;
}

nav ul {
  background: black;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: auto;
  padding: 0;
}

nav li {
  background: black;
  flex-grow: 0;
  line-height: 1.5;
  margin: 0.5rem;
  padding: 0;
  text-align: center;
  width: 6rem;
}

nav li a {
  font-size: 1.1rem;
  font-weight:500;
  background: black;
  color: #c0c0c0;
  font-style: italic;
  text-decoration: none;
  text-shadow: 1px 1px rgb(36, 52, 77, 1)
}

nav li a:hover {
  font-weight: 600;
  background: -webkit-linear-gradient(#D4AF37, #C0C0C0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  text-shadow: none;
  text-decoration:none;
}

.title-bar {
  align-items: center;
  border: 1px solid #666;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem 0;
  width: 100%;
}

.title-bar h1 {
  color: #333;
}

.filter-controls {
  text-align: right;
}

article {
  border: 1px solid #666;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem 0;
  width: 100%;
}

.place-image {
  border-radius: 1rem;
  height: auto;
  margin: 1rem auto;
  max-width: 100%;
}

.place-image.small {
  max-height: 400px;
}

.map-container {
  float: right;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 5px;
}

#tag-section {
  margin: 20px 0px;
}

.tag-list-item {
  padding: 10px;
  font-size: 100%;
}

.tag-list-item-btn, .tag-input + label {
  border: 2px solid rgb(212, 175, 55);
  border-radius: 1rem;
  box-shadow: none;
  color:rgb(212, 175, 55);
  background: black;
  text-shadow: 0px 0px rgb(212, 175, 55);
  cursor: pointer;
  padding: .2rem .7rem;
}

.tag-list-item a {
  color: inherit;
  background: inherit;
  text-decoration: none;
}

.tag-list-item-btn, .tag-input + label {
  background: #c0c0c0;
  color: #24344D;
}

.tag-list-item-btn.selected, .tag-input:checked + label {
  background: #111111;
  color: #D4AF37
}

.tag-input + label::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f067";
  margin-right: 0.5em;
}

.tag-input:checked + label::before {
  content: "\f00c";
}

.vote-input + label > .like-count {
  color: black
}

.vote-input:checked + label > .like-count {
  color: #D4AF37
}

.vote-input.dislike + label > .dislike-count {
  color: black
}

.vote-input.dislike:checked + label > .dislike-count {
  color: #c0c0c0
}

.vote-input:checked + span {
  color: #D4AF37
}

.vote-input + label {
  border: 1px solid #24344D;
  border-radius: 5px;
  box-shadow: 2px 2px 3px #C0C0C0;
  color: #24344D;
  display: inline-block;
  font-size: 80%;
  font-weight: bold;
  padding: 3px;
  text-align: center;
  width: 6em;
}

.vote-input.dislike + label {
  border: 1px solid #905923;
  color: #905923;
}

.vote-input:checked + label {
  background-color: #24344D;;
  box-shadow: none;
  color: white;
}

.vote-input.dislike:checked + label {
  background-color: #905923;
}

.spd1 {
  height: 100px;
  display: inline-block;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
  width: 100%;
}

.spd2 {
  border-radius: 1rem;
  background-color: #fbf7e6;
  padding: 1rem;
}

#cf {
  padding-bottom: 20px;
}

.tags-wrap {
  margin: 1rem 0;
}

.spacer {
  clear: both;
  height: 1px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.comments {
  border: 1px solid #666;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem 0;
  width: 100%;
}

#add-comment-btn {
  padding-bottom: 40px;
  background-color: #D4AF37;
  border: none;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

#text-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.save-post-btn {
  background-color: black;
  font-weight: bold;
  border: none;
  border-style: double;
  color: #D4AF37;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
  margin: 4px 2px;
  cursor: pointer;
}

.delete-post-btn {
  background-color: black;
  font-weight: bold;
  border: none;
  border-style: double;
  color: #c0c0c0;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
  margin: 4px 2px;
  cursor: pointer;
}

#post-input {
  width: auto;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#titttle {
  font-weight: bold;
}

#your-posts,
#your-post {
  padding: 20px;
}

#your-posts-title {
  padding-bottom: 5px;
}

#sign-up-error, #login-error {
  display: none;
  color:rgb(243, 97, 97);
}

#username-login,
#password-login,
#username-signup,
#email-signup,
#nickname-signup,
#password-signup {
  width: auto;
  padding: 8px 20px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#sign-in-btn,
#sign-up-btn {
  padding-bottom: 40px;
  background-color: black;
  border: none;
  color:rgb(212, 175, 55);
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

#sign-in-btn:hover,
#sign-up-btn:hover {
  font-weight: bold;
  text-transform:uppercase;
  font-style: italic;
}

.dash-link {
  color: #24344D;
  font-weight:bolder;
  padding: 0px 5px;
}

.italic-h:hover {
  font-style: italic;
}

.comment {
  list-style: none;
  padding: 10px
}

#pre-comment {
  overflow: hidden
}

#comment-user {
  float:left;
  font-weight: bold
}

#comment-date {
  float:right
}

#comment-text {
  font-family: cursive;
}

.filter-select {
  color:rgb(212, 175, 55);
  background: black;
  padding: 1px;
  border: #c0c0c0;
  border-radius: 5px;
}

@media screen and (min-width: 616px) {
  .header-content {
    justify-content: space-between;
  }

  nav {
    justify-content: end;
    text-align: right;
  }

  nav ul {
    margin: 0;
  }
}