:root {
  --bg-color-primary-start: #d4af37;
  --bg-color-primary-end: #c0c0c0;
  --bg-primary: -webkit-linear-gradient(var(--bg-color-primary-start), var(--bg-color-primary-end));
  --main-link-color: #d4af37;
  --default-button-background-color: #191d05;
  --bg-color-secondary-start: #3e567c;
  --bg-color-secondary-end: #a7bbcb;
  --border-radius-controls: 0.3rem;
  --border-radius-blocks: 0.5rem;
  --like-color: #24344D;
  --dislike-color: #905923;
  --base-font-size: 18px;
}
  /* --like-color: #a0d86c; */
  /* --dislike-color: #f38782; */

* {
  box-sizing: border-box;
  color: black;
  font-family: 'Nunito', sans-serif;
  font-size: var(--base-font-size);
  margin: 0;
}

h1 { font-size: 200%; }
h2 { font-size: 180%; }
h3 { font-size: 160%; }
h4 { font-size: 140%; }

body {
  /* background: -webkit-linear-gradient(var(--bg-color-primary-start), var(--bg-color-primary-end)); */
  background: var(--bg-primary);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hidden {
  display: none;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  line-height: 1.5;
  margin: 0.5rem 0;
  padding: 1rem;
}

p.center {
  text-align: center;
}

p.small {
  font-size: 80%;
  margin: 0;
  padding: 0.2rem;
}

p.small > a {
  color: var(--main-link-color);
  font-size: 100%;
}

button, .btn {
  background-color: var(--default-button-background-color);
  border: none;
  border-radius: var(--border-radius-controls);
  box-shadow: grey 2px 2px 2px;
  color: var(--main-link-color);
  cursor: pointer;
  display: inline-block;
  font-size: 100%;
  padding: 0.5rem 2rem;
  text-decoration: none;
}

button:active {
  box-shadow: none;
}

.wrapper {
  margin: 130px auto;
  padding: 1rem;
  max-width: 1000px;
}

header {
  background-color: black;
  left: 0;
  right: 0;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
}

.header-content {
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1000px;
}

#header-logo, #logo {
  background: -webkit-linear-gradient(var(--bg-color-primary-start), var(--bg-color-primary-end));
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-family: 'Mr Dafoe', cursive;
  font-size: 42px;
}

#splash {
  font-size: 100%;
  text-align: center;
}

#splash > p {
  text-align: center;
}

#splash > .logo {
  font-size: 12vw;
}

#splash > button {
  background-color: var(--default-button-background-color);
  color: var(--main-link-color);
}

nav {
  display: flex;
  flex-basis: auto;
}

nav ul {
  background: black;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: auto;
  padding: 0;
}

nav li {
  background: black;
  flex-grow: 0;
  line-height: 1.5;
  margin: 0.5rem;
  padding: 0;
  text-align: center;
  width: 6rem;
}

nav li a:link, nav li a:visited {
  font-size: 1.1rem;
  font-weight:500;
  background: black;
  color: #c0c0c0;
  text-decoration: none;
  text-shadow: 1px 1px rgb(36, 52, 77, 1)
}

nav li a:hover {
  font-weight: 600;
  background: -webkit-linear-gradient(var(--bg-color-primary-start), var(--bg-color-primary-end));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  text-shadow: none;
  text-decoration: underline;
}

content {
  display: block;
  width: 100%;
}

section>div {
  margin-bottom: 1rem;
}

.filter-control {
  background: transparent;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: right;
}

.filter-select {
  color:rgb(212, 175, 55);
  background: var(--default-button-background-color);
  border: 2px solid var(--default-button-background-color);
  padding: 0.2rem;
  border-radius: var(--border-radius-controls);
}

.title-bar, .dashboard-section h3 {
  align-items: center;
  background: -webkit-linear-gradient(#D4AF37, #e9ce77);
  border-radius: var(--border-radius-blocks);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem;
  margin: 1rem 0 2rem;
  text-align: center;
  width: 100%;
}

.dashboard-section h3 {
  padding: 0.5rem;
}

.title-bar h1, .title-bar h2, .dashboard-section h3 {
  color: #333;
  margin-bottom: 1rem;
}

#homepage-header {
  background: -webkit-linear-gradient(#24344D, #8CA0B1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.filter-controls {
  text-align: right;
}

#sort-controls {
  font-size: 80%;
  margin: 0;
  padding: 0.2em 0.5em;
  text-align: right;
}

#sort-controls a {
  font-size: 100%;
}

article, .comments {
  background: -webkit-linear-gradient(var(--bg-color-secondary-start), var(--bg-color-secondary-end));
  border-radius: var(--border-radius-blocks);
  padding: 1rem;
  margin: 0 0 2rem;
  width: 100%;
}

article.edit-post {
  padding: 1.5em;
}

article a {
  color: var(--main-link-color);
}

.spd1 {
  height: 100px;
  display: inline-block;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
  width: 100%;
}
.spd1 h2 {
  margin: 1rem 0 2rem;
}

.spd2 {
  border-radius: var(--border-radius-blocks);
  padding: 1rem 1rem 0;
}

.spd2 p,
.spd2 div,
.post p,
.post div,
.comments {
  color: whitesmoke;
}

.post div {
  padding: 0 1rem;
}

.spd2 a,
.post a {
  color: var(--main-link-color);
}

.place-image {
  border-radius: var(--border-radius-blocks);
  box-shadow: 2px 2px 3px #465e83;
  height: auto;
  max-height: 600px;
  max-width: 100%;
}

.place-image.small {
  max-height: 400px;
}
.post-title {
  color: var(--main-link-color);
  margin: 1rem;
}

.post-byline {
  padding: 0.4rem!important;
}

.map-container {
  border-style: inset;
  border: 2px inset #6a809c;
  float: right;
  margin-left: 0.4rem;
  margin-top: 1rem;
  padding: 0!important;
}

.embedded-map {
  max-width: 200px;
  flex-shrink: 1;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding-left: 5px;
}

.tags-wrap {
  align-items: center;
  display: flex;
  margin: 1rem 0;
}

.tag-list-item {
  padding: 0.2rem;
  margin: 5px 0px;
  font-size: 100%;
}

.tag-list-item-btn, .tag-input + label {
  border: 2px solid rgb(212, 175, 55);
  border-radius: var(--border-radius-controls);
  box-shadow: none;
  color:rgb(212, 175, 55);
  background: var(--default-button-background-color);
  text-shadow: 0px 0px rgb(212, 175, 55);
  cursor: pointer;
  padding: .2rem .7rem;
}

.tag-list-item a {
  color: inherit;
  background: inherit;
  text-decoration: none;
}

.tag-list-item-btn, .tag-input + label {
  background: #c0c0c0;
  box-shadow: grey 2px 2px 2px;
  color: #24344D;
}

.tag-list-item-btn.selected, .tag-input:checked + label {
  background: #111111;
  box-shadow: none;
  color: var(--main-link-color)
}

.tag-input + label::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f067";
  margin-right: 0.5em;
}

.tag-input:checked + label::before {
  content: "\f00c";
}

div.social-bar {
  align-items: center;
  clear: both;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem 1rem 0;
}

div.social-bar p {
  margin: 0 0 1;
  padding: 0;
}
#comment-count {
  color: black;
}

.vote-input + label {
  background-color: whitesmoke;
  border: 1px solid var(--like-color);
  border-radius: var(--border-radius-controls);
  box-shadow: grey 2px 2px 2px;
  color: #a0d86c;
  display: inline-block;
  padding: 3px;
  text-align: center;
  width: 4em;
}

.vote-input + label > .like-count {
  font-size: 80%;
}

.vote-input + label,
.vote-input + label > i,
.vote-input + label > .like-count {
  border-color: var(--like-color);
  color: var(--like-color);
}

.vote-input:checked + label {
  background-color: var(--like-color);
  box-shadow: none;
}

.vote-input.dislike + label,
.vote-input.dislike + label > i,
.vote-input.dislike + label > .like-count {
  border-color: var(--dislike-color);
  color: var(--dislike-color);
}

.vote-input:checked + label > i,
.vote-input:checked + label > .like-count {
    color: whitesmoke;
}

.vote-input.dislike:checked + label {
  background-color: var(--dislike-color);
}

.comments h3 {
  color: whitesmoke;
  margin-bottom: 1.5rem;
}

.save-btn {
  background-color: #366136;
  color: whitesmoke;
}

.delete-btn {
  background-color: #cc3f0a;
  color: whitesmoke;
}

textarea {
  border: 1px solid #ccc;
  border-radius: var(--border-radius-controls);
  display: inline-block;
  font-size: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: 100%;
}

.post-input {
  border: 1px solid #ccc;
  border-radius: var(--border-radius-controls);
  display: inline-block;
  font-size: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: 100%;
}

#image-url-wrap, #coordinates-wrap {
  align-items: center;
  display: flex;
  padding: 0;
}

#coordinates-wrap input{
  margin-right: 0.5rem;
  max-width: 10rem;
}

#upload-image {
  background: rgb(66, 117, 228);
  color: whitesmoke;
  font-size: 100%;
  margin: 0.5rem 0;
  padding: 0.6rem;
  white-space: nowrap;
}

#titttle {
  font-weight: bold;
}

.card, .sign-in-card, #splash {
  background-color: whitesmoke;
  border-radius: var(--border-radius-blocks);
  display: block;
  margin: 1.5rem auto;
  padding: 1rem;
  width: fit-content;
}

#sign-up-error, #login-error, #update-message {
  font-size: 80%;
  text-align: center;
}

.signup-form input, .signin-form input {
  border: 1px solid #ccc;
  border-radius: var(--border-radius-controls);
  box-sizing: border-box;
  display: inline-block;
  font-size: 110%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: 15rem;
}

#sign-in-btn,
#sign-up-btn,
#update-btn {
  background-color: var(--default-button-background-color);
  color: rgb(212, 175, 55);
  display: block;
  margin: 0.5rem auto;
}

.comments ul {
  border-bottom: 1px solid #666;
  list-style-type: none;
  margin: 0 0 1rem;
  padding: 0;
}

.comment {
  border-radius: var(--border-radius-blocks);
  background-color: #a7bbcb;
  margin-bottom: 1rem;
  padding: 1.5rem;
}

#pre-comment {
  overflow: hidden;
}

#comment-user {
  float:left;
  font-weight: bold;
}

#comment-date {
  float: right;
  font-size: 80%;
}

#comment-text {
  clear: both;
  font-family: cursive;
  margin-top: 0.5rem;
}

#edit-form label {
  color: whitesmoke;
}

#edit-form .post-toolbar {
  justify-content: space-around;
  padding: 0.2rem 0;
}

#tag-section {
  margin: 1rem 0;
}

#tag-section .tag-list {
  justify-content: flex-start;
  margin: 0.5rem 0;
  padding: 0;
}

#tag-section .tag-list .tag-item {
  margin: 0 0.4rem 0 0;
}

#add-post-btn,
#edit-post-btn {
  background: -webkit-linear-gradient(#24344D, #8CA0B1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 80%;
}

#edit-post-btn {
  font-size: 110%;
}

#add-post-btn:hover,
#edit-post-btn:hover {
  font-weight: bolder;
}

footer {
  align-items: center;
  background-color: black;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  left: 0;
  padding: 0.5rem;
  position: fixed;
  text-align: center;
  width: 100%;
}

footer p {
  color: whitesmoke;
  font-size: 90%;
  line-height: 2;
  margin: 0 2rem;
  padding: 0;
}

footer p .logo {
  color: whitesmoke;
  font-family: 'Mr Dafoe', cursive;
  font-size: 140%;
}

/* dashboard-specific styles */
.dashboard-section {
  margin-bottom: 2rem;
  padding: 0.5rem;
}

.profile {
  display: flex;
  flex-wrap: wrap;
}

.profile-card {
  background-color: whitesmoke;
  border-radius: var(--border-radius-blocks);
  display: block;
  font-size: 90%;
  margin: 0 auto;
  padding: 0.5rem;
  width: fit-content;
}

.profile-card .update-form input {
  border: 1px solid #ccc;
  border-radius: var(--border-radius-controls);
  box-sizing: border-box;
  display: inline-block;
  font-size: 100%;
  margin: 0.7rem 0 0;
  padding: 0.5rem;
  width: 14rem;
}

.subnav {
  font-size: calc(8px + 1vw);
}

.user-tags {
  border-radius: var(--border-radius-controls);
  justify-content: center;
  margin: 1rem 0;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
}

.post-list {
  margin: 1rem 0;
  list-style: none;
}

.dash-link {
  color: #24344D;
  font-weight:bolder;
  padding: 0px 5px;
}

.dashboard-image-wrap {
  clear: both;
  display: flex;
  flex-basis: 200px;
  justify-content: space-between;
  margin: 1rem 0;
}

.dashboard-image-wrap img {
  max-height: 300px;
}

.dashboard-image-wrap .embedded-map {
  flex-shrink: 1;
  margin-left: 1rem;
  max-width: 100%;
}

.post-toolbar {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.2rem 2rem 0.2rem 1rem;
}

#your-posts ul {
  list-style-type: none;
  padding: 0;
}

/* responsive breakpoints */
@media screen and (min-width: 680px) {
  .header-content {
    justify-content: space-between;
  }

  nav {
    justify-content: end;
    text-align: right;
  }

  nav ul {
    margin: 0;
  }

  .wrapper {
    margin: 88px auto;
    padding: 1rem 2rem;
    max-width: 1000px;
  }

  .sign-in-card {
    margin: 4rem auto;
  }

  .title-bar, .dashboard-section h3 {
    flex-direction: row;
    text-align: left;
  }

  .title-bar h1, .title-bar h2 {
    margin-bottom: 0;
  }

  .subnav {
    font-size: initial;
  }

  .post-list {
    margin: 1rem;
  }
  
  .map-container .embedded-map {
    max-width: 100%;
  }
  
  div.social-bar {
    justify-content: space-between;
  }

  .dashboard-section .sign-in-card {
    margin: 0;
  }

  .profile {
    flex-wrap: nowrap;
  }
  
  #edit-form .post-toolbar {
    justify-content: space-between;
  }
}

@media screen and (max-width: 580px) {
  .map-container {
    display:inline-block;
    float: none;
    margin: 1rem auto 0;
    align-items: center;
    max-width: 100%;
    height: auto
  }

  .spd2 {
    clear: both;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 960px) {
  .dashboard-image-wrap {
    display: block;
  }

  .dashboard-image-wrap img {
    margin: 10px auto;
  }
}

@media screen and (max-width: 620px) {
  .dashboard-image-wrap img {
    max-width: 100%;
  }

  .dashboard-image-wrap .embedded-map {
    margin-left: 0;
  }
}
