* {
  box-sizing: border-box;
  color: black;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

.hidden {
  display: none;
}

p {
  margin: 0.5rem 0;
  line-height: 1.5;
}

body {
  height: 125vh;
  margin-top: 80px;
  padding: 30px;
  background: -webkit-linear-gradient(#D4AF37, #C0C0C0);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.wrapper {
  margin: 0 auto;
  max-width: 1000px;
}

header {
  background-color: black;
  left: 0;
  right: 0;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
}

.header-content {
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 25px 0 black;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1000px;
}

.header-content h3 {
  background: linear-gradient(#D4AF37, #C0C0C0);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-family: 'Mr Dafoe', cursive;
  font-size: 40px;
}

.filter-controls {
  background: transparent;
  position: relative;
  right: 30px;
  text-align: right;
  top: 6rem;
}

nav {
  display: flex;
  flex-basis: auto;
}

nav ul {
  background: black;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: auto;
  padding: 0;
}

nav li {
  background: black;
  flex-grow: 0;
  line-height: 1.5;
  margin: 0.5rem;
  padding: 0;
  text-align: center;
  width: 6rem;
}

nav li a {
  background: black;
  color: white;
  font-style: italic;
  text-decoration: none;
}

nav li a:hover {
  font-weight: 600;
  background: -webkit-linear-gradient(#D4AF37, #C0C0C0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  text-shadow: none;
  text-decoration:none;
}

.place-image {
  margin: 10px auto;
  max-width: 100%;
  max-height: 400px;
}

.tag-list {
  display: inline-block;
  list-style: none;
  padding-left: 5px;
}

.tag-list-item {
  display: inline-block;
  font-size: 100%;
}

.tag-list-item-btn, .tag-input + label {
  border: 2px solid rgb(212, 175, 55);
  border-radius: 1rem;
  box-shadow: none;
  color:rgb(212, 175, 55);
  background: black;
  text-shadow: 0px 0px rgb(212, 175, 55);
  cursor: pointer;
  padding: .2rem .7rem;
}

.tag-list-item a {
  color: inherit;
  background: inherit;
  text-decoration: none;
}

.tag-list-item-btn.selected, .tag-input:checked + label {
  background: #111111
}

.tag-input + label::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f067";
  margin-right: 0.5em;
}

.tag-input:checked + label::before {
  content: "\f00c";
}

.vote-input + label {
  border: 1px solid rgb(76, 204, 76);
  border-radius: 5px;
  box-shadow: 2px 2px 3px gray;
  color: rgb(76, 204, 76);
  display: inline-block;
  font-size: 80%;
  font-weight: bold;
  padding: 3px;
  text-align: center;
  width: 6em;
}

.vote-input.dislike + label {
  border: 1px solid rgb(243, 97, 97);
  color: rgb(243, 97, 97);
}

.vote-input:checked + label {
  background-color: rgb(76, 204, 76);;
  box-shadow: none;
  color: white;
}

.vote-input.dislike:checked + label {
  background-color: rgb(243, 97, 97);;
}

.spd1 {
  height: 100px;
  display: inline-block;
  margin-bottom: 20px;
  padding: 0
}

.spi {
  max-width: 100%;
  height: auto;
}

#cf {
  padding-bottom: 20px;
}

#add-comment-btn {
  padding-bottom: 40px;
  background-color: #D4AF37;
  border: none;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

#text-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.save-post-btn {
  background-color: white;
  font-weight: bold;
  border: none;
  border-style: double;
  color: green;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
  margin: 4px 2px;
  cursor: pointer;
}

.delete-post-btn {
  background-color: white;
  font-weight: bold;
  border: none;
  border-style: double;
  color: red;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
  margin: 4px 2px;
  cursor: pointer;
}

#post-input {
  width: auto;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#titttle {
  font-weight: bold;
}

#your-posts {
  padding: 20px;
}

#your-post {
  padding: 20px;
}

#sign-up-error, #login-error {
  display: none;
  color:rgb(243, 97, 97);
}

@media screen and (min-width: 616px) {
  .header-content {
    justify-content: space-between;
  }

  nav {
    justify-content: end;
    text-align: right;
  }

  nav ul {
    margin: 0;
  }
}